extends layout

block content
  .container
    img.main-image(src="/images/fish/#{title}.jpg" alt="FairFish Salmon")
    h1
      span.emph Fish:
      span.value= title

    .fairness
      section
        span.value The fairness of your fish:
        .meter
          img(src="/images/star_full.png" alt="Full star")
          img(src="/images/star_full.png" alt="Full star")
          img(src="/images/star_full.png" alt="Full star")
          img(src="/images/star_empty.png" alt="Empty star")
          img(src="/images/star_empty.png" alt="Empty star")

    .details
      section
        span.emph Location:
        span.value Barents Sea

      section
        span.emph Risk of:
        span.value Oilspills
        .risk-chart
          .chart-value 45%
          .w3-white.w3-round
            .w3-container.w3-round.w3-blue(style='width:45%')

      section
        span.emph Risk of:
        span.value Contaminants
        .risk-chart
          .chart-value 20%
          .w3-white.w3-round
            .w3-container.w3-round.w3-blue(style='width:20%')

      section
        span.emph Risk of:
        span.value Waste
        .risk-chart
          .chart-value 15%
          .w3-white.w3-round
            .w3-container.w3-round.w3-blue(style='width:15%')
