extends layout

block content
  .container
    img.main-image(src="/images/fish/#{title}.jpg" alt="FairFish Salmon")
    h1
      span.emph Fish:
      span.value= title

    .fairness
      section
        span.value The fairness of your fish:
        .meter
          each val in rating
            if val == 1
              img(src="/images/star_full.png" alt="Full star")
            else
              img(src="/images/star_empty.png" alt="Empty star")

    .details
      section
        span.emph Location:
        span.value Barents Sea
      .map https://www.google.com/maps/@55.659635,12.5887693,17z

      section
        span.emph Risk of:
        span.value Contaminants
        .risk-chart
          .chart-value= risk.contaminants + '%'
          .w3-white.w3-round
            .w3-container.w3-round.w3-blue(style='width:40%')

      section
        span.emph Risk of:
        span.value Litter
        .risk-chart
          .chart-value= risk.litter + '%'
          .w3-white.w3-round
            .w3-container.w3-round.w3-blue(style='width:15%')

      br
      br
      section
        span WFHO recommends to buy fish below 50% Pollution. Information from the World Fish Health Organiztion.
        span Info about where the data comes from. Our data comes from: www.pollutiondata.eu/oceanwaters.
