extends layout

block content
  .container
    img.main-image(src="/images/fish/#{title}.jpg" alt="FairFish Salmon")
    h1
      span.emph Fish:
      span.value= title

    .fairness
      section
        span The fairness of your fish:
        .meter

    .details
      section
        span.emph Location:
        span.value Barents Sea

      section
        span.emph Risk of:
        span.value Oilspills

      section
        span.emph Risk of:
        span.value Pollution
