extends layout

block content
  .container
    img.main-image(src="/images/fairfish_placeholder.jpg" alt="FairFish Salmon")
    h1= title

    .details
      section
        h3 Region
        p Lorem ipsum

      section
        h3 Age
        p Consectetur adipiscing

      section
        h3 Chance of polution
        p Dolor sit amet
