extends layout

block content
  .container
    img.main-image(src="/images/fish/#{title}1.png" alt="FairFish Salmon")
    h1
      span.emph Fish:
      span.value= title

    .fairness
      section
        span.value The fairness of your fish:
        .meter
          each val in rating
            if val == 1
              img(src="/images/star_full.png" alt="Full star")
            else
              img(src="/images/star_empty.png" alt="Empty star")

    .details
      section
        span.emph Location:
        span.value Barents Sea
        iframe(src='https://maps.google.com/maps?q=' + location + '&t=&z=5&ie=UTF8&iwloc=&output=embed' frameborder='0' style='border:0; height:320px; width:100%; margin-top:2rem;' allowfullscreen='' aria-hidden='false' tabindex='0')

      section
        span.emph Risk of:
        span.value Contaminants
        .risk-chart
          .chart-value= risk.contaminants + '%'
          .w3-white.w3-round
            .w3-container.w3-round.w3-blue(style='width:40%')

      section
        span.emph Risk of:
        span.value Litter
        .risk-chart
          .chart-value= risk.litter + '%'
          .w3-white.w3-round
            .w3-container.w3-round.w3-blue(style='width:15%')

      br
      br
      section
        span(style="font-size:14px;") WFHO recommends to buy fish below 50% Pollution. Information from the World Fish Health Organiztion. Info about where the data comes from. Our data comes from: www.pollutiondata.eu/oceanwaters.
